nav {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
  background-color: #1a237e;
  color: #ffd700;
}

nav a {
  text-decoration: none;
  color: #ffd700;
}
nav a:hover {
  text-decoration: overline;
  transition: 0.3s;
  color: #ac961f;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #cacaca;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #1a237e;
  text-align: center;
}
footer {
  background-color: #1a237e;
  color: #cacaca;
  text-align: center;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
footer a {
  color: #ffd700;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #ac961f;
  transition: 0.3s;
}
.nosLiens {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #1a237e;
  color: #ffd700;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}
.nosLiens:hover {
  background-color: #004494;
  color: #ac961f;
  transition: 0.3s;
}
