# 1. Empêcher le serveur de lister les dossiers
Options -Indexes

# 2. Définir le fichier par défaut
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Si le navigateur demande un dossier qui existe, on force quand même React
  # Sauf si c'est la racine
  RewriteCond %{REQUEST_URI} !^/index.html$
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.*)$ /index.html [L]

  # Gestion standard : si c'est pas un fichier réel, on va sur index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>