@import "tailwindcss";

@theme {
  --color-primary: #1a247f;
  --color-blue-accent: #0e1449;
  --color-site-text: #242424;
  --color-heading: #470b15;
  --color-heading-accent: #751424;
  --color-bg-1: #f7f0e5;
  --color-bg-2: #f1e6d3;
  --color-hover-nav: #dfbe85;
  --color-bg-carousel: #d3c1a5;
}

@layer components {
  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-bg-1 text-site-text;
  margin: 0;
  /* Passage à Poppins */
  font-family: "Poppins", sans-serif;
}
